<p> WELCOME </p>
<div class="page-wrapper">
  <div class="loader">
    <div class="jelly">
      <div class="body"></div>
      <div class="eye"></div>
      <div class="eye"></div>
      <div class="mouth"></div>
    </div>
    <div class="shadow"></div>
  </div>
    <div class="loader2">
    <div class="jelly2">
      <div class="body"></div>
      <div class="eye"></div>
      <div class="eye"></div>
      <div class="mouth"></div>
    </div>
    <div class="shadow"></div>
  </div>
</div>








