  
<div class="row panel panel-danger">
    <div class="panel-heading">
        <h2 class="panel-title">PaintBall Multiplayer</h2>
    </div>
    <!--     contact list      -->
    <div class="col-xs-5 panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>parties:</h4>
                <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="searchText">
                    <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: name | filter: searchText"></contact>
                </li>
            </ul>
        </div>
        <div class="col-xs-7">
            <div class="list-group panel-body"></div>
        </div>